
:root {
  --primary-color: #b71c1c;
  --secondary-light-color: #f05545;
  --secondary-dark-color: #7f0000;
}

header {
  height: 10vh;
  background-color: var( --primary-color );
} 

div.site-logo {
  position: absolute;
  top: 8vh;
  left: 5vw;
  height: 5vh;
  width: 5vh;
  background-color: var ( --secondary-light-color );
  z-index: 1;
}
