
:root {
  
  --primary-color: rgba( 84, 110, 122, 1 );
  --primary-color-transp: rgba( 84, 110, 122, 0 );
  --primary-light-color: #819ca9;
  --primary-dark-color: #29434e;

  --secondary-color: #263238;
  --secondary-light-color: #4f5b62;
  --secondary-dark-color: #000a12;
}

@font-face {
   font-family: BlackThornsBlack;
   src: url( bt-black.ttf ) format( "truetype" );
}

@font-face {
   font-family: BlackThornsRegular;
   src: url( bt-regular.ttf ) format( "truetype" );
}

body {
  /*background-color: var( --primary-light-color );*/
  background: linear-gradient( 
    rgba( 129, 156, 169, 0.9 ), 
    rgba( 129, 156, 169, 0.9 ) 
  ), url( abacus.jpg );
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 15vh;
  background-color: var( --primary-color );
  background-image: url( tribal.png );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  box-shadow: 3px 3px 3px rgba( 0, 0, 0, 0.75 );
} 

div.logo-container {
  display: flex;
  flex-direction: row; 
}

div.logo-text {
  font-size: 10vh;
  padding-top: 5vh;
  white-space: nowrap;
  width: 100%;
  font-family: BlackThornsRegular;
  color: var( --primary-light-color );
  text-shadow: 2px 2px var( --secondary-dark-color );
  background-image: linear-gradient( 
    to right,
    var( --primary-color ), 
    var( --primary-color-transp ) 
  );
}

div.site-logo {
  height: 100%;
  width: 100px;
  background-color: var( --primary-color );
}

line.beadline {
  stroke: black;
  stroke-width: 2;
}

line.edgeline {
  stroke: black;
  stroke-width: 4;
}

circle {
  fill: var( --secondary-dark-color );
}
